.input-group-addon,
.input-group-btn {
  min-width: 40px;
  white-space: nowrap;
  vertical-align: middle; // Match the inputs
}

.form-control {
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    opacity: 0.8;
  }
}
